In [80]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from time import time

In [83]:
#1622
#User 564
#Reading users file:
u_cols = ['user_id','age','sex','occupation','zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', \
                    names=u_cols,encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id','movie_id','rating','unix_timestamp']
rating = pd.read_csv('ml-100k/u.data',sep='\t',names=r_cols,\
                     encoding='latin-1')

#Reading the movie file:
item_cols = ['movie_id','movie title','release date',
'video release date','IMDb URL','unknown','Action',
'Adventure','Animation','Childrens','Comedy','Crime',
'Documentary','Drama','Fantasy','Film-Noir','Horror',
'Musical','Mystery','Romance ','Sci-Fi','Thriller',
'War' ,'Western']

movies = pd.read_csv('ml-100k/u.item', sep='|',names=item_cols,\
                   encoding='latin-1')
movies_prof = movies[['movie_id','movie title','release date']].copy()
movies_prof1 = movies_prof.copy()
print(movies_prof1.head())
movies_prof1['release date'] = pd.to_datetime(movies_prof1['release date'])
movies_prof1 = movies_prof1.sort_values(['release date'])
#print(movies_prof1)
profit = pd.DataFrame(columns=['movie_id','Profit'])
print("Here")
print(movies_prof1.head())
early = int(str(movies_prof1['release date'])[7:11])
print("Earliest Year: ", early)
for j,i in zip(movies_prof1['movie_id'],movies_prof1['release date']):
    date = str(i)
    if(date == 'NaT'):
        sum = 0
    else:
        #print(date[:4],date[5:7],date[8:10])
        year = int(date[:4])
        sum = year + int(date[5:7])*10 + int(date[8:10])
        year-=early
        year/=5
        sum+=year*100
        year/=10
        sum+=year*1000
        year/=50
        sum+=year*10000
        #print(sum)
        sum1 = pd.DataFrame([[j,sum]],columns=['movie_id','Profit'])
    profit = profit.append(sum1)
#print(profit)
movies_prof2 = pd.merge(profit,movies_prof1)
#print(movies_prof2.head())

   movie_id        movie title release date
0         1   Toy Story (1995)  01-Jan-1995
1         2   GoldenEye (1995)  01-Jan-1995
2         3  Four Rooms (1995)  01-Jan-1995
3         4  Get Shorty (1995)  01-Jan-1995
4         5     Copycat (1995)  01-Jan-1995
Here
      movie_id                                        movie title release date
674        675  Nosferatu (Nosferatu, eine Symphonie des Graue...   1922-01-01
1541      1542                         Scarlet Letter, The (1926)   1926-01-01
616        617          Blue Angel, The (Blaue Engel, Der) (1930)   1930-01-01
655        656                                           M (1931)   1931-01-01
1123      1124                         Farewell to Arms, A (1932)   1932-01-01
Earliest Year:  1922

In [84]:
print(rating.head())
df2  = rating.copy()

df2.head()

groups = df2.groupby("user_id", as_index=False)
k = 0
columns = ['user_id','age','sex','movie_id']
#print(users)
df_users = pd.DataFrame(columns=columns)
#print(df_user)
for group in groups:
    toy_stor = group
    toy_story = toy_stor[1].copy()
    #print((toy_story) )
    movie_num = toy_story['movie_id'].iloc[0]
    users_rating = users.copy()
    df_1_toy = users.copy()
    df_1_toy.occupation.unique()

    user_movie = pd.merge(df_1_toy,toy_story)
    #print("Sigh\n",user_movie)
    

    #user_movie = user_movie.drop(['unix_timestamp','rating','zip_code'],axis=1)
    user_movie = user_movie.drop(['unix_timestamp','rating','zip_code','occupation'],axis=1)
    
    df_users = df_users.append(user_movie)
        
    k+=1

print("right here")
df_users = df_users.reset_index(drop=True)
size = df_users.loc[df_users['user_id'] < 564].shape[0]
df_users = df_users[:size].copy()
df_users.sex.replace(['M', 'F'], [1, 0], inplace=True)
print(df_users)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596
right here
      user_id age  sex movie_id
0           1  24    1       61
1           1  24    1      189
2           1  24    1       33
3           1  24    1      160
4           1  24    1       20
5           1  24    1      202
6           1  24    1      171
7           1  24    1      265
8           1  24    1      155
9           1  24    1      117
10          1  24    1       47
11          1  24    1      222
12          1  24    1      253
13          1  24    1      113
14          1  24    1      227
15          1  24    1       17
16          1  24    1       90
17          1  24    1       64
18          1  24    1       92
19          1  24    1      228
20          1  24    1      266
21          1  24    1      121
22          1  24    1      114
23          1  24    1      132
24          1  24    1       74
25          1  24    1      134
26          1  24    1       98
27          1  24    1      186
28          1  24    1      221
29          1  24    1       84
...       ...  ..  ...      ...
63425     563  39    0     1035
63426     563  39    0      692
63427     563  39    0      233
63428     563  39    0      401
63429     563  39    0      367
63430     563  39    0      254
63431     563  39    0       50
63432     563  39    0      412
63433     563  39    0      237
63434     563  39    0      210
63435     563  39    0      118
63436     563  39    0      153
63437     563  39    0      181
63438     563  39    0      862
63439     563  39    0      781
63440     563  39    0      403
63441     563  39    0      678
63442     563  39    0       70
63443     563  39    0      476
63444     563  39    0      255
63445     563  39    0      257
63446     563  39    0      321
63447     563  39    0      301
63448     563  39    0      172
63449     563  39    0      167
63450     563  39    0      220
63451     563  39    0      304
63452     563  39    0      294
63453     563  39    0      871
63454     563  39    0      566

[63455 rows x 4 columns]

In [85]:
print(df_users.loc[df_users['user_id'] > 0].shape[0])
print(df_users.loc[df_users['movie_id'] == 50].shape[0],"Star Wars")
print(df_users.loc[df_users['movie_id'] == 181].shape[0],"Return Jedi")
print(df_users.loc[df_users['movie_id'] == 1].shape[0],"Toy Story")
print(df_users.loc[df_users['movie_id'] == 172].shape[0],"Empire Strike Back")
print(df_users.loc[df_users['movie_id'] == 257].shape[0],"Men in Black")

63455
354 Star Wars
310 Return Jedi
270 Toy Story
220 Empire Strike Back
187 Men in Black

In [86]:
labels_train = df_users[['movie_id','user_id']].copy()
labels_train = labels_train.set_index('user_id')
print(labels_train.head())
print("\nlabels_train\n")
print(labels_train.head())
print("sort:")
labels_train = pd.Series(df_users['movie_id'].values,\
                         index=df_users['user_id'])
labels_train = labels_train.rename("movie_id")
labels_train= labels_train.\
apply(pd.to_numeric, errors='coerce')
labels_train = labels_train.sort_values()
print(labels_train.head())
df_user = df_users.copy()
df_user = df_user.sort_values(by=['movie_id'])
df_user = df_user.drop(['movie_id'],axis=1)
#print(df_users.set_index('user_id'))
#df_users = df_users.set_index('user_id')
print(df_user)
print("here")
print("Labels size",len(labels_train))
#print(labels_train.loc[labels_train['movie_id'] == 586].shape[0])
print(df_user.head())
df_user = df_user.set_index('user_id')
print(df_user.head())

        movie_id
user_id
1             61
1            189
1             33
1            160
1             20

labels_train

        movie_id
user_id
1             61
1            189
1             33
1            160
1             20
sort:
user_id
97     1
287    1
49     1
305    1
381    1
Name: movie_id, dtype: int64
      user_id age  sex
10763      97  43    1
29235     287  21    1
5142       49  23    0
32435     305  23    1
41623     381  33    1
62003     550  16    0
59015     526  30    1
14122     141  49    1
61969     549  42    1
57879     512  29    1
8540       84  32    1
52442     460  44    0
12365     117  20    1
61937     548  51    1
38410     347  18    1
27057     271  51    1
11293     102  38    1
22515     230  28    0
3635       25  39    1
20111     201  27    1
20840     213  33    1
34082     314  20    0
59732     533  43    1
23783     242  33    1
38527     348  24    0
41280     379  44    1
41403     380  32    1
14377     144  53    1
25229     256  35    0
6733       62  27    0
...       ...  ..  ...
54782     486  39    1
52682     464  60    1
48581     433  27    1
49334     437  27    0
58076     514  27    1
49504     439  23    0
49827     445  21    1
50093     448  23    1
50375     450  35    0
51809     456  24    1
52578     463  48    0
52631     463  48    0
52877     466  22    1
54213     479  30    1
57413     506  46    1
54786     486  39    1
54842     486  39    1
54815     486  39    1
58318     519  22    1
55289     489  55    1
55309     489  55    1
55944     496  21    0
56280     497  20    1
56583     500  28    1
58285     519  22    1
59237     528  18    1
61367     543  33    1
61997     550  16    0
62375     552  45    1
62207     551  25    1

[63455 rows x 3 columns]
here
Labels size 63455
      user_id age  sex
10763      97  43    1
29235     287  21    1
5142       49  23    0
32435     305  23    1
41623     381  33    1
        age  sex
user_id
97       43    1
287      21    1
49       23    0
305      23    1
381      33    1

In [87]:
#print(df_users.occupation.unique())
#print(len(labels_train['movie_id'].unique()))
movies1 = labels_train.unique()
#print(len(movies1) )
#print((movies1) )
#print(type(movies1))
movies1 = movies1.tolist()
#print(movies1[:10])

In [88]:
GNB = MultinomialNB()
t0 = time()
print(labels_train.head())
print(labels_train.tail())
print(df_user.head())
print(df_user.tail())
GNB.fit(df_user,labels_train)

user_id
97     1
287    1
49     1
305    1
381    1
Name: movie_id, dtype: int64
user_id
528    1618
543    1619
550    1620
552    1620
551    1621
Name: movie_id, dtype: int64
        age  sex
user_id
97       43    1
287      21    1
49       23    0
305      23    1
381      33    1
        age  sex
user_id
528      18    1
543      33    1
550      16    0
552      45    1
551      25    1

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [89]:
#for i in [563,566,567,568]:
#print(movies1[:10])
movies_sort = movies1
#print(movies_sort[:11])
movies_sort.sort()
#print(movies_sort[:11])
genre = ['release date','video release date','IMDb URL','unknown','Action',\
            'Adventure','Animation','Childrens','Comedy','Crime',\
            'Documentary','Drama','Fantasy','Film-Noir','Horror',\
            'Musical','Mystery','Romance ','Sci-Fi','Thriller',\
            'War' ,'Western']
print("Movies sorted",len(movies_sort))
#for i in [563,566,567]:
for i in [563]:
    df_sugg = pd.DataFrame(columns = ['user_id','age','sex'])
    df_user = users.iloc[i].copy()
    df_user = df_user.drop(['occupation','zip_code'], axis=0)
    #print(df_user)
    #print(type(df_user))
    #df_user = df_user.set_index('user_id')
    if(df_user['sex'] == 'M'):
        df_user['sex'] = 1
    else:
        df_user['sex'] = 0
    #print(df_user)
    #for j in range(1,1683):
        #df_user['movie_id'] = j
        #print(df_user)
        #df_sugg = df_sugg.append(df_user)
    df_sugg = df_sugg.append(df_user)
        #print("yeah")
    #print(df_sugg)
    #print(df_sugg.shape)
    print(df_sugg)
    df_sugg = df_sugg.set_index('user_id')
    #print(df_sugg)
    nb_pred = GNB.predict(df_sugg)
    approx_pred = GNB.predict_proba(df_sugg)
    #print(len(nb_pred))
    #print(len(approx_pred[0]))
    #print(nb_pred)
    #print(approx_pred)
    proba = approx_pred[0].copy()
    proba1 = proba.copy()
    print(proba)
    print(type(proba))
    list1 = [i for i in range(1,1622)]
    mov = pd.DataFrame(proba,columns=['Probability'])
    mov['movie_id'] = None
    for i in range(1,1622):
        mov.loc[i-1,'movie_id'] = i
    #for i in mov['movie_id']:
        #mov['movie_id'][i]+=1
    #print(mov)
    mov = mov.sort_values(['Probability'],ascending=False)
    #print(mov)
    combine = pd.merge(mov,movies_prof2,how='outer')
    combine = combine.drop('release date',axis=1)
    combine['R_y'] = combine['Profit'] * combine['Probability']
    print(combine[:15])
    print("\n\n\n")
    for i in (0,0.5,1):
        final = combine.copy()
        print("\n\n\n")
        print("alpha: ", i)
        if(i == 0):
            print("Customer Focused:")
        if(i == 1):
            print("Company Focused:")
        if(i == 0.5):
            print("Midway:")
        
        final['F_y'] = final['Profit'].pow(i) * final['Probability']
        final = final.sort_values(['F_y'],ascending=False)
        print(final[:15])

Movies sorted 1621
    user_id age sex
563     564  65   1
[4.35244916e-03 1.03682067e-03 7.88769019e-04 ... 4.24397001e-06
 2.49011429e-05 1.81319828e-06]
<class 'numpy.ndarray'>
    Probability  movie_id  Profit                       movie title        R_y
0      0.005748      50.0  4408.0                  Star Wars (1977)  25.337939
1      0.005386     100.0  5331.0                      Fargo (1996)  28.712528
2      0.005170     258.0  5378.0                    Contact (1997)  27.802836
3      0.005059     286.0  5377.0       English Patient, The (1996)  27.203883
4      0.004958     181.0  5341.0         Return of the Jedi (1983)  26.480378
5      0.004746     288.0  5392.0                     Scream (1996)  25.592189
6      0.004620     294.0  5348.0                  Liar Liar (1997)  24.706403
7      0.004352       1.0  5218.0                  Toy Story (1995)  22.711080
8      0.004146     300.0  5308.0              Air Force One (1997)  22.005577
9      0.004140     127.0  4183.0             Godfather, The (1972)  17.316812
10     0.004128      98.0  5038.0  Silence of the Lambs, The (1991)  20.797172
11     0.004071     121.0  5325.0     Independence Day (ID4) (1996)  21.678808
12     0.004061     174.0  4588.0    Raiders of the Lost Ark (1981)  18.630351
13     0.003970      56.0  5173.0               Pulp Fiction (1994)  20.538681
14     0.003869     237.0  5385.0              Jerry Maguire (1996)  20.836604








alpha:  0
Customer Focused:
    Probability  movie_id  Profit                       movie title  \
0      0.005748      50.0  4408.0                  Star Wars (1977)
1      0.005386     100.0  5331.0                      Fargo (1996)
2      0.005170     258.0  5378.0                    Contact (1997)
3      0.005059     286.0  5377.0       English Patient, The (1996)
4      0.004958     181.0  5341.0         Return of the Jedi (1983)
5      0.004746     288.0  5392.0                     Scream (1996)
6      0.004620     294.0  5348.0                  Liar Liar (1997)
7      0.004352       1.0  5218.0                  Toy Story (1995)
8      0.004146     300.0  5308.0              Air Force One (1997)
9      0.004140     127.0  4183.0             Godfather, The (1972)
10     0.004128      98.0  5038.0  Silence of the Lambs, The (1991)
11     0.004071     121.0  5325.0     Independence Day (ID4) (1996)
12     0.004061     174.0  4588.0    Raiders of the Lost Ark (1981)
13     0.003970      56.0  5173.0               Pulp Fiction (1994)
14     0.003869     237.0  5385.0              Jerry Maguire (1996)

          R_y       F_y
0   25.337939  0.005748
1   28.712528  0.005386
2   27.802836  0.005170
3   27.203883  0.005059
4   26.480378  0.004958
5   25.592189  0.004746
6   24.706403  0.004620
7   22.711080  0.004352
8   22.005577  0.004146
9   17.316812  0.004140
10  20.797172  0.004128
11  21.678808  0.004071
12  18.630351  0.004061
13  20.538681  0.003970
14  20.836604  0.003869




alpha:  0.5
Midway:
    Probability  movie_id  Profit                       movie title  \
1      0.005386     100.0  5331.0                      Fargo (1996)
0      0.005748      50.0  4408.0                  Star Wars (1977)
2      0.005170     258.0  5378.0                    Contact (1997)
3      0.005059     286.0  5377.0       English Patient, The (1996)
4      0.004958     181.0  5341.0         Return of the Jedi (1983)
5      0.004746     288.0  5392.0                     Scream (1996)
6      0.004620     294.0  5348.0                  Liar Liar (1997)
7      0.004352       1.0  5218.0                  Toy Story (1995)
8      0.004146     300.0  5308.0              Air Force One (1997)
11     0.004071     121.0  5325.0     Independence Day (ID4) (1996)
10     0.004128      98.0  5038.0  Silence of the Lambs, The (1991)
13     0.003970      56.0  5173.0               Pulp Fiction (1994)
14     0.003869     237.0  5385.0              Jerry Maguire (1996)
15     0.003839       7.0  5218.0             Twelve Monkeys (1995)
12     0.004061     174.0  4588.0    Raiders of the Lost Ark (1981)

          R_y       F_y
1   28.712528  0.393249
0   25.337939  0.381637
2   27.802836  0.379122
3   27.203883  0.370989
4   26.480378  0.362337
5   25.592189  0.348524
6   24.706403  0.337842
7   22.711080  0.314402
8   22.005577  0.302042
11  21.678808  0.297081
10  20.797172  0.293005
13  20.538681  0.285563
14  20.836604  0.283945
15  20.033721  0.277338
12  18.630351  0.275049




alpha:  1
Company Focused:
    Probability  movie_id  Profit                       movie title  \
1      0.005386     100.0  5331.0                      Fargo (1996)
2      0.005170     258.0  5378.0                    Contact (1997)
3      0.005059     286.0  5377.0       English Patient, The (1996)
4      0.004958     181.0  5341.0         Return of the Jedi (1983)
5      0.004746     288.0  5392.0                     Scream (1996)
0      0.005748      50.0  4408.0                  Star Wars (1977)
6      0.004620     294.0  5348.0                  Liar Liar (1997)
7      0.004352       1.0  5218.0                  Toy Story (1995)
8      0.004146     300.0  5308.0              Air Force One (1997)
11     0.004071     121.0  5325.0     Independence Day (ID4) (1996)
14     0.003869     237.0  5385.0              Jerry Maguire (1996)
10     0.004128      98.0  5038.0  Silence of the Lambs, The (1991)
13     0.003970      56.0  5173.0               Pulp Fiction (1994)
15     0.003839       7.0  5218.0             Twelve Monkeys (1995)
17     0.003534     313.0  5308.0                    Titanic (1997)

          R_y        F_y
1   28.712528  28.712528
2   27.802836  27.802836
3   27.203883  27.203883
4   26.480378  26.480378
5   25.592189  25.592189
0   25.337939  25.337939
6   24.706403  24.706403
7   22.711080  22.711080
8   22.005577  22.005577
11  21.678808  21.678808
14  20.836604  20.836604
10  20.797172  20.797172
13  20.538681  20.538681
15  20.033721  20.033721
17  18.759023  18.759023

In [90]:
max = -1
index = 0
j = 0
for i in proba:
    if(i>max):
        max = i
        index = j
    j+=1
    
print(index,max)

49 0.005748171313271929

In [91]:
groups = df2.groupby("user_id", as_index=False)
#print(movies1)
k=1
user_num=0
index = user_num
for group in groups:
    #print(group)
    #print(len(group))
    #if(k == 563 or k == 566 or k == 567):
    if(k == 564):
        print("User_num: ",group[0])
        toy_stor = group
        #print(toy_stor)
        toy_story = toy_stor[1].copy()
        #print(toy_story['movie_id'].tolist())
        #print(movies1)
        if(set(toy_story['movie_id'].tolist()).issubset(movies1) == False):
            index+=1 
            k+=1
            print("sigh")
            temp = toy_story['movie_id'].tolist()
            temp.sort()
            #print(temp)
            #print(set(toy_story['movie_id'].tolist()).issubset(movies1))
            continue
        #print(set(toy_story['movie_id'].tolist()).issubset(movies1))
        else:
            #print(movies1)
            #print(movies1.sort())
            #print(toy_story)
            df_user1 = toy_story.copy()
            df_user1.sort_values("rating", inplace=True,ascending=False)
            print("here")
            #print(df_user1)
            movie_user1 = pd.merge(df_user1,movies)
            movie_user1 = movie_user1.drop(genre,axis=1)
            movie_user2 = movie_user1.copy()
            movie_user2 = movie_user2.sort_values("rating",ascending=False)
            movie_user2 = movie_user2.reset_index(drop=True)

            print(len(movie_user2))
            print(len(movie_user2.loc[movie_user1['rating'] >= 3]))
            print("*"*40,"Actual User Rating","*"*40)
            print("User_num:",group[0])
            print("\n")
            for i in range(len(movie_user2)):
                print(movie_user2['movie_id'][i],\
                      movie_user2['movie title'][i],\
                      movie_user2['rating'][i])
    k+=1
    if(k == 567):
        break

User_num:  564
here
34
31
**************************************** Actual User Rating ****************************************
User_num: 564


181 Return of the Jedi (1983) 4
289 Evita (1996) 4
300 Air Force One (1997) 4
121 Independence Day (ID4) (1996) 4
472 Dragonheart (1996) 4
257 Men in Black (1997) 4
344 Apostle, The (1997) 4
258 Contact (1997) 4
597 Eraser (1996) 4
345 Deconstructing Harry (1997) 4
50 Star Wars (1977) 4
292 Rosewood (1997) 4
313 Titanic (1997) 4
245 Devil's Own, The (1997) 4
117 Rock, The (1996) 4
118 Twister (1996) 4
127 Godfather, The (1972) 4
298 Face/Off (1997) 3
323 Dante's Peak (1997) 3
333 Game, The (1997) 3
930 Chain Reaction (1996) 3
312 Midnight in the Garden of Good and Evil (1997) 3
1034 Quest, The (1996) 3
831 Escape from L.A. (1996) 3
827 Daylight (1996) 3
272 Good Will Hunting (1997) 3
750 Amistad (1997) 3
685 Executive Decision (1996) 3
281 River Wild, The (1994) 3
302 L.A. Confidential (1997) 3
924 White Squall (1996) 3
1025 Fire Down Below (1997) 2
1016 Con Air (1997) 2
1399 Stranger in the House (1997) 2