In [191]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from time import time

In [248]:
#1622
#User 564
#Reading users file:
u_cols = ['user_id','age','sex','occupation','zip_code']
users = pd.read_csv('ml-100k/u.user', sep='|', \
                    names=u_cols,encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id','movie_id','rating','unix_timestamp']
rating = pd.read_csv('ml-100k/u.data',sep='\t',names=r_cols,\
                     encoding='latin-1')

#Reading the movie file:
item_cols = ['movie_id','movie title','release date',
'video release date','IMDb URL','unknown','Action',
'Adventure','Animation','Childrens','Comedy','Crime',
'Documentary','Drama','Fantasy','Film-Noir','Horror',
'Musical','Mystery','Romance ','Sci-Fi','Thriller',
'War' ,'Western']

movies = pd.read_csv('ml-100k/u.item', sep='|',names=item_cols,\
                   encoding='latin-1')

print(rating.head())
df2  = rating.copy()

df2.head()

groups = df2.groupby("user_id", as_index=False)
k = 0
columns = ['user_id','age','sex','movie_id']
#print(users)
df_users = pd.DataFrame(columns=columns)
#print(df_user)
for group in groups:
    toy_stor = group
    toy_story = toy_stor[1].copy()
    #print((toy_story) )
    movie_num = toy_story['movie_id'].iloc[0]
    users_rating = users.copy()
    df_1_toy = users.copy()
    df_1_toy.occupation.unique()

    user_movie = pd.merge(df_1_toy,toy_story)
    #print("Sigh\n",user_movie)
    

    #user_movie = user_movie.drop(['unix_timestamp','rating','zip_code'],axis=1)
    user_movie = user_movie.drop(['unix_timestamp','rating','zip_code','occupation'],axis=1)
    
    df_users = df_users.append(user_movie)
        
    k+=1

print("right here")
df_users = df_users.reset_index(drop=True)
size = df_users.loc[df_users['user_id'] < 564].shape[0]
df_users = df_users[:size].copy()
df_users.sex.replace(['M', 'F'], [1, 0], inplace=True)
print(df_users)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596
Number of time: <pandas.core.groupby.DataFrameGroupBy object at 0x7f5b6099de80>
right here
      user_id age  sex movie_id
0           1  24    1       61
1           1  24    1      189
2           1  24    1       33
3           1  24    1      160
4           1  24    1       20
5           1  24    1      202
6           1  24    1      171
7           1  24    1      265
8           1  24    1      155
9           1  24    1      117
10          1  24    1       47
11          1  24    1      222
12          1  24    1      253
13          1  24    1      113
14          1  24    1      227
15          1  24    1       17
16          1  24    1       90
17          1  24    1       64
18          1  24    1       92
19          1  24    1      228
20          1  24    1      266
21          1  24    1      121
22          1  24    1      114
23          1  24    1      132
24          1  24    1       74
25          1  24    1      134
26          1  24    1       98
27          1  24    1      186
28          1  24    1      221
29          1  24    1       84
...       ...  ..  ...      ...
63425     563  39    0     1035
63426     563  39    0      692
63427     563  39    0      233
63428     563  39    0      401
63429     563  39    0      367
63430     563  39    0      254
63431     563  39    0       50
63432     563  39    0      412
63433     563  39    0      237
63434     563  39    0      210
63435     563  39    0      118
63436     563  39    0      153
63437     563  39    0      181
63438     563  39    0      862
63439     563  39    0      781
63440     563  39    0      403
63441     563  39    0      678
63442     563  39    0       70
63443     563  39    0      476
63444     563  39    0      255
63445     563  39    0      257
63446     563  39    0      321
63447     563  39    0      301
63448     563  39    0      172
63449     563  39    0      167
63450     563  39    0      220
63451     563  39    0      304
63452     563  39    0      294
63453     563  39    0      871
63454     563  39    0      566

[63455 rows x 4 columns]

In [193]:
print(df_users.loc[df_users['user_id'] > 0].shape[0])

63455

In [194]:
labels_train = df_users['movie_id'].copy()
print(labels_train.head())
labels_train= labels_train.\
apply(pd.to_numeric, errors='coerce')
print(labels_train.head())
df_user = df_users.drop(['movie_id'],axis=1)
#print(df_users.set_index('user_id'))
#df_users = df_users.set_index('user_id')
print(df_user)

0     61
1    189
2     33
3    160
4     20
Name: movie_id, dtype: object
0     61
1    189
2     33
3    160
4     20
Name: movie_id, dtype: int64
      user_id age  sex
0           1  24    1
1           1  24    1
2           1  24    1
3           1  24    1
4           1  24    1
5           1  24    1
6           1  24    1
7           1  24    1
8           1  24    1
9           1  24    1
10          1  24    1
11          1  24    1
12          1  24    1
13          1  24    1
14          1  24    1
15          1  24    1
16          1  24    1
17          1  24    1
18          1  24    1
19          1  24    1
20          1  24    1
21          1  24    1
22          1  24    1
23          1  24    1
24          1  24    1
25          1  24    1
26          1  24    1
27          1  24    1
28          1  24    1
29          1  24    1
...       ...  ..  ...
63425     563  39    0
63426     563  39    0
63427     563  39    0
63428     563  39    0
63429     563  39    0
63430     563  39    0
63431     563  39    0
63432     563  39    0
63433     563  39    0
63434     563  39    0
63435     563  39    0
63436     563  39    0
63437     563  39    0
63438     563  39    0
63439     563  39    0
63440     563  39    0
63441     563  39    0
63442     563  39    0
63443     563  39    0
63444     563  39    0
63445     563  39    0
63446     563  39    0
63447     563  39    0
63448     563  39    0
63449     563  39    0
63450     563  39    0
63451     563  39    0
63452     563  39    0
63453     563  39    0
63454     563  39    0

[63455 rows x 3 columns]

In [195]:
#print(df_users.occupation.unique())
print(len(labels_train.unique()))
movies1 = labels_train.unique()
movies1 = movies1.tolist()

1621

In [196]:
GNB = GaussianNB()
t0 = time()
GNB.fit(df_user,labels_train)

GaussianNB(priors=None)

In [249]:
for i in [563,566,567,568]:
    df_sugg = pd.DataFrame(columns = ['user_id','age','sex'])
    df_user = users.iloc[i].copy()
    df_user = df_user.drop(['occupation','zip_code'], axis=0)
    if(df_user['sex'] == 'M'):
        df_user['sex'] = 1
    else:
        df_user['sex'] = 0
    #print(df_user)
    #for j in range(1,1683):
        #df_user['movie_id'] = j
        #print(df_user)
        #df_sugg = df_sugg.append(df_user)
    df_sugg = df_sugg.append(df_user)
        #print("yeah")
    #print(df_sugg)
    print(df_sugg.shape)
    print(df_sugg)
    nb_pred = GNB.predict(df_sugg)
    approx_pred = GNB.predict_proba(df_sugg)
    #print(len(nb_pred))
    #print(nb_pred)
    print(approx_pred)
    proba = approx_pred[0].copy()
    proba = (proba.tolist())
    order = approx_pred[0].copy()
    order = np.sort(order)
    order = order[::-1]
    order = (order.tolist())
    #print(len(approx_pred[0]))
    #print((order))
    k = 0
    list = []
    for i in range(10):
        list.append(proba.index(order[i]))
    print("Top 10 recommended movies:",list)
    print("\n\n\n")

(1, 3)
    user_id age sex
563     564  65   1
[[1.04408721e-03 7.54904115e-05 3.32370433e-05 ... 0.00000000e+00
  2.30155433e-39 0.00000000e+00]]
Top 10 recommended movies: [586, 354, 1455, 1292, 1448, 1368, 1387, 1301, 1063, 1197]




(1, 3)
    user_id age sex
566     567  24   1
[[2.38805785e-03 1.25323311e-03 1.01468468e-03 ... 0.00000000e+00
  1.94554278e-58 0.00000000e+00]]
Top 10 recommended movies: [1313, 1058, 759, 1323, 1501, 571, 1326, 354, 586, 1096]




(1, 3)
    user_id age sex
567     568  39   1
[[2.89260988e-03 1.00343780e-03 6.60155718e-04 ... 0.00000000e+00
  1.25415149e-65 0.00000000e+00]]
Top 10 recommended movies: [759, 1523, 586, 354, 1142, 867, 1173, 1058, 571, 1096]




(1, 3)
    user_id age sex
568     569  34   1
[[2.82544254e-03 1.17038968e-03 8.27527241e-04 ... 0.00000000e+00
  3.08999234e-73 0.00000000e+00]]
Top 10 recommended movies: [759, 1058, 1523, 354, 1332, 586, 571, 1142, 1402, 867]

In [237]:
groups = df2.groupby("user_id", as_index=False)
print(movies1)
k=1
user_num=4
index = user_num
for group in groups:
    #print(group)
    #print(len(group))
    if(k == 564+index):
        print("User_num: ",group[0])
        toy_stor = group
        #print(toy_stor)
        toy_story = toy_stor[1].copy()
        #print(toy_story['movie_id'].tolist())
        #print(movies1)
        if(set(toy_story['movie_id'].tolist()).issubset(movies1) == False):
            index+=1 
            k+=1
            print("sigh")
            temp = toy_story['movie_id'].tolist()
            temp.sort()
            print(temp)
            print(set(toy_story['movie_id'].tolist()).issubset(movies1))
            continue
        print(set(toy_story['movie_id'].tolist()).issubset(movies1))
        break
    k+=1
print("Right outside",group[0])
#print(movies1)
#print(movies1.sort())
#print(toy_story)
df_user1 = toy_story.copy()
df_user1.sort_values("rating", inplace=True,ascending=False)
print("here")
#print(df_user1)
movie_user1 = pd.merge(df_user1,movies)
genre = ['release date','video release date','IMDb URL','unknown','Action',\
'Adventure','Animation','Childrens','Comedy','Crime',\
'Documentary','Drama','Fantasy','Film-Noir','Horror',\
'Musical','Mystery','Romance ','Sci-Fi','Thriller',\
'War' ,'Western']
movie_user1 = movie_user1.drop(genre,axis=1)
movie_user2 = movie_user1.copy()
movie_user2 = movie_user2.sort_values("rating",ascending=False)
movie_user2 = movie_user2.reset_index(drop=True)

print(len(movie_user2))
print(len(movie_user2.loc[movie_user1['rating'] >= 3]))
print("*"*40,"Actual User Rating","*"*40)
for i in range(len(movie_user2)):
    print(movie_user2['movie_id'][i],\
          movie_user2['movie title'][i],\
          movie_user2['rating'][i])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621]
User_num:  568
True
Right outside 568
here
81
63
**************************************** Actual User Rating ****************************************
606 All About Eve (1950) 5
488 Sunset Blvd. (1950) 5
474 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963) 5
479 Vertigo (1958) 5
134 Citizen Kane (1941) 5
483 Casablanca (1942) 5
641 Paths of Glory (1957) 5
1203 Top Hat (1935) 5
603 Rear Window (1954) 5
631 Crying Game, The (1992) 5
615 39 Steps, The (1935) 5
661 High Noon (1952) 4
269 Full Monty, The (1997) 4
482 Some Like It Hot (1959) 4
185 Psycho (1960) 4
1050 Ghost and Mrs. Muir, The (1947) 4
475 Trainspotting (1996) 4
529 My Life as a Dog (Mitt liv som hund) (1985) 4
427 To Kill a Mockingbird (1962) 4
191 Amadeus (1984) 4
1137 Beautiful Thing (1996) 4
423 E.T. the Extra-Terrestrial (1982) 4
1125 Innocents, The (1961) 4
509 My Left Foot (1989) 4
127 Godfather, The (1972) 4
135 2001: A Space Odyssey (1968) 4
165 Jean de Florette (1986) 4
604 It Happened One Night (1934) 4
653 Touch of Evil (1958) 4
835 Gay Divorcee, The (1934) 4
79 Fugitive, The (1993) 4
213 Room with a View, A (1986) 4
462 Like Water For Chocolate (Como agua para chocolate) (1992) 4
100 Fargo (1996) 4
178 12 Angry Men (1957) 4
494 His Girl Friday (1940) 4
56 Pulp Fiction (1994) 4
224 Ridicule (1996) 4
486 Sabrina (1954) 4
478 Philadelphia Story, The (1940) 4
1286 Shall We Dance? (1937) 4
242 Kolya (1996) 4
30 Belle de jour (1967) 4
303 Ulee's Gold (1997) 4
923 Raise the Red Lantern (1991) 3
612 Lost Horizon (1937) 3
187 Godfather: Part II, The (1974) 3
656 M (1931) 3
611 Laura (1944) 3
659 Arsenic and Old Lace (1944) 3
530 Man Who Would Be King, The (1975) 3
286 English Patient, The (1996) 3
6 Shanghai Triad (Yao a yao yao dao waipo qiao) (1995) 3
525 Big Sleep, The (1946) 3
194 Sting, The (1973) 3
504 Bonnie and Clyde (1967) 3
493 Thin Man, The (1934) 3
430 Duck Soup (1933) 3
523 Cool Hand Luke (1967) 3
234 Jaws (1975) 3
519 Treasure of the Sierra Madre, The (1948) 3
199 Bridge on the River Kwai, The (1957) 3
638 Return of Martin Guerre, The (Retour de Martin Guerre, Le) (1982) 3
524 Great Dictator, The (1940) 2
954 Unzipped (1995) 2
491 Adventures of Robin Hood, The (1938) 2
520 Great Escape, The (1963) 2
319 Everyone Says I Love You (1996) 2
435 Butch Cassidy and the Sundance Kid (1969) 2
735 Philadelphia (1993) 2
497 Bringing Up Baby (1938) 2
179 Clockwork Orange, A (1971) 2
162 On Golden Pond (1981) 2
132 Wizard of Oz, The (1939) 2
59 Three Colors: Red (1994) 1
301 In & Out (1997) 1
855 Diva (1981) 1
1005 Double vie de Véronique, La (Double Life of Veronique, The) (1991) 1
988 Beautician and the Beast, The (1997) 1
772 Kids (1995) 1
512 Wings of Desire (1987) 1